<mat-toolbar color="primary">
    <span> <a routerLink="/"> TODOS </a> </span>
    <span class="spacer"></span>
    <ul>
        <li *ngIf="isAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="mat-accent"> NEW TODO </a>
        </li>
        <li *ngIf="!isAuthenticated">
            <a mat-button routerLink="/login" routerLinkActive="mat-accent"> LOGIN </a>
        </li>
        <li *ngIf="!isAuthenticated">
            <a mat-button routerLink="/register" routerLinkActive="mat-accent"> REGISTER </a>
        </li>
        <li *ngIf="isAuthenticated">
            <a mat-button (click)="onLogout()"> LOGOUT </a>
        </li>
    </ul>
</mat-toolbar>