<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input matInput type="text" ngModel name="title" #title="ngModel" placeholder="Title" required>
            <mat-error *ngIf="title.invalid"> Please enter a title !</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput rows="4" ngModel name="content" #content="ngModel" placeholder="Content"
                required> </textarea>
            <mat-error *ngIf="content.invalid"> Please enter a content !</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit"> SAVE POST</button>
    </form>
</mat-card>