<mat-spinner *ngIf="isLoading"> </mat-spinner>
<p class="info-text mat-body-1" *ngIf="!isAuthenticated && !isLoading"> Please login to create todos ! </p>
<mat-accordion multi="true" *ngIf="todos.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let todo of todos">
        <mat-expansion-panel-header *ngIf="isAuthenticated && userId == todo.creator">
            {{ todo.title }}
        </mat-expansion-panel-header>
        <p *ngIf="isAuthenticated && userId == todo.creator">
            {{ todo.content }}
        </p>
        <mat-action-row *ngIf="isAuthenticated && userId == todo.creator">
            <button mat-button color="warn" (click)="onDelete(todo.id)"> DELETE </button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]=totalTodos [pageSize]=todosPerPage [pageSizeOptions]=pageSizeOptions
    (page)="onChangedPage($event)" *ngIf="todos.length > 0">
</mat-paginator>